::ng-deep {
    .p-3{
        padding: 3rem;
    }
    .p-1 {
        padding: 1em;
    }
    th.mat-header-cell {
        text-align: center !important;
    }
    td.mat-cell {
        text-align: center !important;
    }
    table.mat-table {
        .mat-cell{
            p{
                font-size: 12px;
                margin-block-start: .2em;
                margin-block-end: .2em;
            }
        }
    }
    mat-icon.error{
        color: red;
        position: absolute;
        top: -2px;
    }
    mat-icon.valid{
        color: green;
        position: absolute;
        top: -2px;
    }
    mat-icon.default{
        color: grey;
        position: absolute;
        top: -2px;
    }
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: green;
    }
    .mat-tab-label {
        height: 60px !important;
        align-items: flex-end !important;
        color: green;
    }
    .full-width{
        width: 100%;
    }
    .center {
        text-align: center;
    }
    .mat-button.warn{
        background-color: red;
        color: white;
        margin: 1em;
        min-width: 80px;
        cursor: pointer;
    }
    .mat-button.success{
        background-color:green;
        color: white;
        margin: 1em ;
        min-width: 80px;
        cursor: pointer;
    }
    .mat-button[disabled][disabled]{
        background-color:grey;
        color: white;
        margin: 1em ;
        min-width: 80px;
        cursor:not-allowed;
    }
    small.error{
        color: red;
    }
    a mat-icon.error{
        display: block;
        position: unset;
        cursor: pointer;
    }
    .right{
        text-align: right;
    }
}