
<div class="p-3">
    <h4>Order Table</h4>
    <div class="right">
        <a href="/order/request" mat-button class="success">Buat Order</a>

    </div>
<table mat-table [dataSource]="orderList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="destination-user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element"> 
          <p>{{element['destination'].user}}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="destination-phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['destination'].phone}}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="destination-district">
        <th mat-header-cell *matHeaderCellDef>District</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['destination'].district}}</p>
        </td>
      </ng-container>
    <ng-container matColumnDef="origin-user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['origin'].user}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="origin-phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['origin'].phone}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="origin-district">
        <th mat-header-cell *matHeaderCellDef>District</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['origin'].district}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="transporter-type">
        <th mat-header-cell *matHeaderCellDef>Truck Type</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter'].truck_type}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="transporter-capacity">
        <th mat-header-cell *matHeaderCellDef>capacity</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter'].capacity}} {{element['transporter'].unit}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="transporter-commodity">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter'].comodity}}</p>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="transporter-qty">
        <th mat-header-cell *matHeaderCellDef>Qty Order</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter'].qty_order}}</p>
        </td>
    </ng-container>
    <!-- <ng-container matColumnDef="transporter-">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter']}}</p>
        </td>
    </ng-container> -->
    <ng-container matColumnDef="transporter-ref">
        <th mat-header-cell *matHeaderCellDef>Ref No</th>
        <td mat-cell *matCellDef="let element"> 
            <p *ngFor="let item of element['transporter'].ref_no" >{{item}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="transporter-delivery">
        <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter'].start_delivery_date }}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="transporter-note">
        <th mat-header-cell *matHeaderCellDef>Note</th>
        <td mat-cell *matCellDef="let element"> 
            <p>{{element['transporter'].note}}</p>
        </td>
    </ng-container>
  

   <!-- Header row second group -->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">Destination</th>
  </ng-container>

  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">Origin</th>
  </ng-container>
  <ng-container matColumnDef="transporter">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="8">Transporter</th>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="['destination','origin','transporter']"></tr>
    <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: orderColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>