<div class="p-3">
    <div class="p-3">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
           
            <ng-template mat-tab-label>
                <mat-icon *ngIf="formGroupOrigin.valid" class="valid">check_circle</mat-icon> 
                <mat-icon *ngIf="!formGroupOrigin.valid"class="error">cancel</mat-icon> 
                <mat-icon *ngIf="!formGroupOrigin.dirty" class="default">brightness_1</mat-icon>
                <p>Asal</p>
            </ng-template>
            <form [formGroup]="formGroupOrigin">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <mat-label>Nama Pengirim (Nama Lengkap)</mat-label>
                                <input matInput formControlName="user" placeholder="Masukkan Nama Pengirim" required>
                            </mat-form-field>
                            <app-error-message [control]="formGroupOrigin.get('user')" fieldName="Nama Pengirim"></app-error-message>
                        </div>
                    </div>   
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="20" fxFlex.gt-xs="20">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <input matInput value="+62" required>
                            </mat-form-field>
                        </div>
                    </div>   
                    <div fxFlex="80" fxFlex.gt-xs="80">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                 <mat-label>Nomor Handphone Pengirim</mat-label>
                                <input matInput  (keydown)="numberOnly($event)" formControlName="phone" placeholder="Nomor Handphone Pengirim" required>
                            </mat-form-field>
                            <app-error-message [control]="formGroupOrigin.get('phone')" fieldName="No HP"></app-error-message>
                        </div>
                    </div>   
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <mat-label>Kecamatan</mat-label>
                                <input matInput formControlName="district" placeholder="Masukkan Kecamatan"  [matAutocomplete]="districtOrigin" required>
                            </mat-form-field>
                            <mat-autocomplete #districtOrigin="matAutocomplete">
                                <mat-option *ngFor="let d of originDistrictList" [value]="d.district_name">{{d.district_name}}</mat-option>
                            </mat-autocomplete>
                            <app-error-message [control]="formGroupOrigin.get('district')" fieldName="Kecamatan"></app-error-message>
                        </div>
                    </div>   
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <mat-label>Alamat Detail</mat-label>
                                <textarea matInput formControlName="address"></textarea>
                            </mat-form-field>
                            <app-error-message [control]="formGroupOrigin.get('address')" fieldName="Alamat Detail"></app-error-message>
                        </div>
                    </div>   
                </div>
            </form>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon *ngIf="formGroupDestination.valid" class="valid">check_circle</mat-icon> 
                <mat-icon *ngIf="!formGroupDestination.valid"class="error">cancel</mat-icon> 
                <mat-icon *ngIf="!formGroupDestination.dirty" class="default">brightness_1</mat-icon>
                <p>Tujuan</p>
            </ng-template>
            <form [formGroup]="formGroupDestination">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <mat-label>Nama Pengirim (Nama Lengkap)</mat-label>
                                <input matInput formControlName="user" placeholder="Masukkan Nama Pengirim" required>
                            </mat-form-field>
                            <app-error-message [control]="formGroupDestination.get('user')" fieldName="Nama Pengirim"></app-error-message>
                        </div>
                    </div>   
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="20" fxFlex.gt-xs="20">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <input matInput value="+62" required>
                            </mat-form-field>
                        </div>
                    </div>   
                    <div fxFlex="80" fxFlex.gt-xs="80">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                 <mat-label>Nomor Handphone Pengirim</mat-label>
                                <input matInput  (keydown)="numberOnly($event)" formControlName="phone" placeholder="Nomor Handphone Pengirim" required>
                            </mat-form-field>
                            <app-error-message [control]="formGroupDestination.get('phone')" fieldName="Nama Pengirim"></app-error-message>
                        </div>
                    </div>   
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <mat-label>Kecamatan</mat-label>
                                <input matInput formControlName="district" placeholder="Masukkan Kecamatan"  [matAutocomplete]="districtDestination" required>
                            </mat-form-field>
                            <mat-autocomplete #districtDestination="matAutocomplete">
                                <mat-option *ngFor="let d of destinationDistrictList" [value]="d.district_name">{{d.district_name}}</mat-option>
                            </mat-autocomplete>
                            <app-error-message [control]="formGroupDestination.get('district')" fieldName="Kecamatan"></app-error-message>
                        </div>
                    </div>   
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div class="p-1">
                            <mat-form-field class="full-width">
                                <mat-label>Alamat Detail</mat-label>
                                <textarea matInput formControlName="address"></textarea>
                            </mat-form-field>
                            <app-error-message [control]="formGroupDestination.get('address')" fieldName="Alamat Detail"></app-error-message>
                        </div>
                    </div>   
                </div>
            </form>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon *ngIf="formGroupTransporter.valid" class="valid">check_circle</mat-icon> 
                <mat-icon *ngIf="!formGroupTransporter.valid"class="error">cancel</mat-icon> 
                <mat-icon *ngIf="!formGroupTransporter.dirty" class="default">brightness_1</mat-icon>
                <p>Formulir</p>
            </ng-template>
            <form [formGroup]="formGroupTransporter">
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                <div fxFlex="100" fxFlex.gt-xs="60">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Tipe Truk" formControlName="truck_type" (selectionChange)="ChangeTruckTypeEvent($event.value)">
                                <mat-option *ngFor="let item of tructTypeList" [value]="item">{{item.truck_type}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('truck_type')" fieldName="Tipe Truck"></app-error-message>

                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="20">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Kapasitas" formControlName="capacity">
                                <mat-option *ngFor="let item of capacityList" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('capacity')" fieldName="Kapasitas"></app-error-message>

                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="20">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Unit" formControlName="unit" (selectionChange)="ChangeUnitEvent($event.value)">
                                <mat-option *ngFor="let item of unitList" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('unit')" fieldName="Unit"></app-error-message>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                <div fxFlex="100" fxFlex.gt-xs="100">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Kategori Barang" formControlName="category">
                                <mat-option *ngFor="let item of commodityList" [value]="item">{{item.commod_category}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('category')" fieldName="Kategori Barang"></app-error-message>

                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                <div fxFlex="100" fxFlex.gt-xs="80">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-label>Jumlah Pengiriman</mat-label>
                            <input matInput (keydown)="numberOnly($event)" formControlName="qty_order"/>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('qty_order')" fieldName="Jumlah Pengiriman"></app-error-message>

                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="20">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-label>Unit</mat-label>
                            <input matInput formControlName="unit_2" readonly/>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('unit_2')" fieldName="Unit"></app-error-message>

                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                <div fxFlex="100" fxFlex.gt-xs="100">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-label>Nomor Referensi</mat-label>
                            <input matInput formControlName="no_ref" (click)="addNoRef()" readonly/>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('no_ref')" fieldName="Nomor Referensi"></app-error-message>

                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                <div fxFlex="100" fxFlex.gt-xs="100">
                    <div class="p-1">
                        <mat-form-field class="full-width mb-1">
                            <input matInput name="start_delivery_date" [min]="minDate" formControlName="start_delivery_date" placeholder="Tanggal Pengiriman" [matDatepicker]="start_delivery_date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="start_delivery_date"></mat-datepicker-toggle>
                        </mat-form-field>
                        <mat-datepicker #start_delivery_date></mat-datepicker>
                        <app-error-message [control]="formGroupTransporter.get('start_delivery_date')" fieldName="Tanggal Pengiriman"></app-error-message>

                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp" >
                <div fxFlex="100" fxFlex.gt-xs="100">
                    <div class="p-1">
                        <mat-form-field class="full-width">
                            <mat-label>Catatan </mat-label>
                            <textarea matInput formControlName="note"></textarea>
                        </mat-form-field>
                        <app-error-message [control]="formGroupTransporter.get('note')" fieldName="Note"></app-error-message>
                    </div>
                </div>
            </div>
        </form>
        </mat-tab>
    </mat-tab-group>
    <div class="center">
        <a href="/order/list" mat-button class="warn">Batal</a>
        <button (click)="save()" [disabled]="!formGroupTransporter.valid || !formGroupOrigin.valid || !formGroupDestination.valid" mat-button class="success">Selesai</button>
    </div>
    </div>
</div>
