<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutWarp="warp">
    <div fxFlex="100" fxFlex.gt-xs="100">
        <div class="p-1">
            <form [formGroup]="formGroup">
            <mat-form-field class="full-width">
                <mat-label>Nomor Referensi</mat-label>
                <input matInput  formControlName="no"/>
            </mat-form-field>
            <app-error-message [control]="formGroup.get('no')" fieldName="Nomor Referensi">
            </app-error-message>
            <div class="center">
                <button mat-button class="success" (click)="addRef()" [disabled]="!formGroup.valid">Input</button>
            </div>
            </form>
            <div  class="center" *ngIf="error">
                <small class="error">{{errorText}}</small>
                <br>
            </div>
            <br>
            <table *ngIf="noRefList.length" class="noRef">
                <tr>
                    <th>No</th>
                    <th>Nomor Referensi</th>
                    <th></th>
                </tr>
                <tr *ngFor="let item of noRefList;let i = index;">
                    <td class="center">{{i+1}}.</td>
                    <td>{{item}}</td>
                    <td><a (click)="deleteRef(item)"><mat-icon class="error">cancel</mat-icon></a></td>
                </tr>
            </table>
            <div class="center" *ngIf="noRefList.length">
                <button mat-button class="warn" (click)="dialogRef.close(noRefList)">Tutup</button>
            </div>

        </div>
    </div>
</div>